<script setup>
import { useRouter } from 'vue-router'

const router = useRouter()

async function signIn() {
  await router.push({ name: 'SignIn' })
}

</script>

<template>
  <div class="row">
    <div style="display: flex">
      <div>
        <img src="@/assets/logo.svg" class="logo" alt="English & me logo" />
      </div>
      <div class="info">
        <button>What is it?</button>
        <button>About us</button>
        <button>Contact us</button>
      </div>
    </div>
    <div>
      <button class="signin" type="button" v-on:click.prevent="signIn">Sign in</button>
    </div>
  </div>
</template>

<style scoped>
.row {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  background-color: #f3f0f0;
}
.info {
  height: 2em;
}
.logo {
  height: 5em;
  padding: 0.7em;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 2em;
  font-size: 1em;
  color: #6b6b6b;
  margin: 1.5em;
}
button:hover {
  color: #213547;
}
</style>