<script setup>
import HeaderComponent from "@/components/HeaderComponent.vue";
</script>

<template>
  <div class="header">
    <header-component/>
  </div>
  <div class="content">
    <h1>nothing here yet</h1>
  </div>
</template>

<style scoped>
.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.content {
  padding-top: 5em;
  padding-left: 1em;
}
</style>