<script setup>
import { ref, computed, watch } from 'vue'
import { useRouter } from 'vue-router'
import { AuthApi } from '@/api/auth_api.js'
import { auth_store } from "@/stores/auth_store";

const store = auth_store()
const router = useRouter()

const username = ref(null)
const password = ref(null)

const disabled = computed(() => !username.value || !password.value)

const passwordType = ref('password')

const error = ref(null)

watch(username, () => error.value = null)
watch(password, () => error.value = null)

async function submit() {
  try {
    const tokens = (await AuthApi.Login({ username: username.value, password: password.value })).data
    store.bearerToken = tokens.token
    store.refreshToken = tokens.refreshToken
    await router.push({ name: 'Home' })
  } catch (e) {
    if (e.response) {
      error.value = e.response.data.reasons[0]
    } else {
      error.value = 'Unknown error occurred'
    }
  }
}

function changePasswordVisibility() {
  passwordType.value = passwordType.value === 'password' ? 'text' : 'password'
}

</script>

<template>
  <div style="display: flex; justify-content: center; padding-top: 5em">
    <form style="width: 20em; min-width: 20em;">
      <div style="display: flex; justify-content: center">
        <img src="@/assets/logo.svg" alt="English & me logo" />
      </div>
      <div style="display: flex; justify-content: center">
        <h1>Sign in</h1>
      </div>
      <div>
        <input v-model="username" placeholder="Username" type="text"/>
      </div>
      <div style="margin-bottom: 1em;"></div>
      <div>
        <input v-model="password" placeholder="Password" :type="passwordType" style="padding-right: 3em"/>
        <button type="button" :class="{ eye: true, fa: true, 'fa-eye': passwordType === 'password', 'fa-eye-slash': passwordType === 'text' }" v-on:click="changePasswordVisibility"></button>
      </div>
      <div style="margin-bottom: 1em;"></div>
      <div v-show="error" style="color: red;">
        {{ error }}
      </div>
      <div style="margin-bottom: 1em;"></div>
      <div>
        <button style="width: 100%;" :disabled="disabled" v-on:click.prevent="submit">Submit</button>
      </div>
      <div style="margin-bottom: 1em;"></div>
      <div style="display: flex; justify-content: center;">
        <div>
          Don't have an account yet? <RouterLink to="/users/sign_up"><u>Sign up</u></RouterLink>
        </div>
      </div>
    </form>
  </div>
</template>
<style scoped>
input {
  font-size: 1em;
  font-family: inherit;
  border-radius: 8px;
  background-color: rgb(248, 248, 248);
  border: 1px solid #242424;
  width: 100%;
  height: 2.5em;
  padding: 0.6em 1.2em;
}
input:disabled {
  border-color: gray;
}
.eye {
  color: #696969;
  border-radius: 8px;
  position: absolute;
  font-size: 1em;
  font-family: "Font Awesome 6 Free",serif;
  translate: -100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0.6em 0.6em;
  min-width: 2.5em;
  height: 2.5em;
}
.eye:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #944CEA;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover:enabled {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: default;
  background-color: #AC8ED2;
}
</style>